:root {
	--bg-color: #fff;
	--fg-color: #000;
}

body {
	background-color: var(--bg-color);
	color: var(--fg-color);
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: initial;
	width: 220px;
}

h1 {
	font-size: 30px;
	margin: 0;
}

h2 {
	border-bottom: 1px solid var(--fg-color);
	font-size: 10px;
	margin: 0;
}

h3 {
	border-bottom: 1px solid var(--fg-color);
	font-size: 16px;
	margin: 8px 0 0;
}

.row-container, .radio-label {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 4px;
}

.counter {
	font-weight: bold;
}

.switch {
	display: block;
	height: 16px;
	position: relative;
	width: 24px;
}

.radio-label {
	cursor: pointer;
	justify-content: flex-start;
}

.switch input, .radio-label input {
	height: 0;
	margin: 0;
	opacity: 0;
	width: 0;
}

.radio-label input {
	margin-right: 8px;
	width: 16px;
}

.slider, .checkmark {
	background-color: #ccc;
	border-radius: 16px;
	cursor: pointer;
	position: absolute;
	-webkit-transition: .1s;
	transition: .1s;
}

.slider {
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}

.checkmark {
	height: 16px;
	width: 16px;
}

.slider:before, .checkmark:before {
	background-color: #fff;
	border-radius: 50%;
	bottom: 4px;
	content: "";
	height: 8px;
	left: 4px;
	position: absolute;
	-webkit-transition: .1s;
	transition: .1s;
	width: 8px;
}

input:checked + .slider, input:checked + .checkmark {
	background-color: #0060df;
}

input:focus + .slider, input:focus + .checkmark {
	box-shadow: 0 0 1px #0060df;
}

input:checked + .slider:before {
	-webkit-transform: translateX(8px);
	-ms-transform: translateX(8px);
	transform: translateX(8px);
}

#txt_refresh {
	border: 5px dashed #ff5353;
	display: none;
	margin-top: 16px;
	padding: 5px;
	text-align: center;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: #1c1b22;
		--fg-color: #ddd;
	}
}
